@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');


#slider{
    margin-top: 100px;
}

.slider-1{
    margin-top: 70px;
}

#btn{
    background-color: #ED008C; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    height: 35px;
    border-radius: 4px;
}

.txt{
    font-family: 'League Spartand', sans-serif;
    font-size: 12px;
    color: #40BFA0;
}

.p-di-slider{
    width: 400px;
}

#center-card{
    margin-top: 100px;
}

.frase-c-c{
    text-align: center;
}

.alinhar{
    text-align: center;
}

.imagem{
    display:inline-block;
}

.txt-center-img{
    color:#40BFA0;
}

.p-center-row{
    background-color: #EFFAF6;
    color: #50D2B2;
    text-align: center;
    font-size: 14px;
    width: 109px;
    margin-left: 500px;  
    border-radius: 8px; 
    height: 25px;
}

.h2-work{
    margin-left: 200px;
    text-align: center;
}

.p-work{
    text-align: center;
    margin-left: 207px;
}

.under-work{
    margin-top: 100px;
    margin-left: 190px;
}

#div-5-under-work{
    margin-top: 50px;
}

.div-under-under{
    margin-left: 250px;
    margin-top: 40px;
}

#under-row-under-work{
    margin-top: 50px;
}

#img-cross{
    margin-left: 157px;
}

#across-under-cross{
    margin-top: 100px;
    margin-right: 10px;

}
/*
.ship{
    margin-left: 458px;
}
*/

.p-under-ship{
    margin-top: 100px;
    background-color: #EFFAF6;
    color: #50D2B2;
    text-align: center;
    font-size: 14px;
    width: 109px;
    margin-left: 500px;  
    border-radius: 8px; 
    height: 25px;
}

#pristine{
    margin-left: 300px;
}

#img-12{
    margin-top: 50px;
    background-image: url(./imagens/img12.png);
    height: 636px;
      
}

.h2-img-12{
    color: white;
    text-align: center;
    margin-top: 100px;
}

#p-img-12{
    color: white;
    text-align: center;
    margin-top: 300px;
    font-size: larger;
}

#btn-get{
    background-color: #ED008C; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    height: 35px;
    border-radius: 4px;
    margin-left: 500px;
    margin-top: 20px;
}

.under-features{
    text-align: center;
}

#sub-freatures{
    text-align: justify;
    margin-top: 200px;
    margin-left: 270px;
}

#p-sub-features{
    margin-top: 50px;
}

#app{
    margin-top: 50px;
    margin-left: 270px;
}

#p-app{
    text-align: justify;
    margin-top: 170px;
}

.seamless{
    text-align: center;
}

.img-lang{
    margin-left: 100px;
}

#airtigth{
    margin-left: 300px;
    margin-top: 50px;
}

.txt-airtigth{
    text-align: center;
}

#btn-air{
    background-color: #ED008C; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    height: 35px;
    border-radius: 4px;
    margin-left: 220px;
    margin-top: 10px;
}

#h1-under-air{
    margin-left: 330px;
}

#images-testimonials{
    margin-top: 80px;
}

#img-16{
    background-image: url(./imagens/img16.2.png);
    height: 467px;
    margin-top: 50px;
}

.p1-footer{
    margin-top: 80px;
    margin-left: 15px;
    color: #44C4A3;
    font-size: small;
}

.h1-footer{
    color: white;
    margin-left: 15px;
}

.img-footer{
    margin-top: 150px;
}

.p2-footer{
    margin-top: 9px;
    color: white;
    text-align: left;
}